* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", "sans-serif";
}

body{ -webkit-tap-highlight-color:rgba(255,0,0,0); }

/*下面三条用于去掉因为jquery mobile产生的底部loading字样*/
.ui-loader-default {
    display: none
}

.ui-mobile-viewport {
    border: none;
}

.ui-page {
    padding: 0;
    margin: 0;
    outline: 0
}

section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.homePage {
    background: url(http://yunyunlive.oss-cn-beijing.aliyuncs.com/survey/homeBG.png) no-repeat 50%/cover;
}

.homePage_moon {
    position: absolute;
}

.homePage_title {
    position: absolute;
    z-index: 1;
}

.homePage_qixi {
    position: absolute;
    z-index: 2;
}

.homePage_cloudL {
    position: absolute;
    z-index: 2;

}

.homePage_cloudR {
    position: absolute;
    z-index: 2;
}

.homePage_girl {
    position: absolute;
    z-index: 3;
}

.homePage_button {
    position: absolute;
    z-index: 2;
    -webkit-animation: scale 1s 6s ease-in-out infinite both;
    -o-animation: scale 1s 6s ease-in-out infinite both;
    animation: scale 1s 6s ease-in-out infinite both;
}

.homePge_prompt {
    position: absolute;
    z-index: 2;
    color: #fff;
    /*background: red;*/
    text-align: center;
    letter-spacing: 1px;
    font-size:2rem;
}

.homePge_detail {
    position: absolute;
    z-index: 2;
    color: #67bbc5;
    font-weight: bold;
    font-size: 2rem;
}

.questionPage {
    background: url(http://yunyunlive.oss-cn-beijing.aliyuncs.com/survey/questionBgy.png) no-repeat 50%/cover;
}

.questionNumContainer {
    background: url(http://yunyunlive.oss-cn-beijing.aliyuncs.com/survey/questionNumContainer.png) no-repeat;
    background-size: cover;
    position: absolute;
}

.questionNum {
    position: absolute;
    font-size: 4rem;
    font-weight: 400;
}

.message-window {
    position: absolute;
}

.message-window-little {
    position: absolute;
    z-index: 0;
    display: none;
}

.female {
    position: absolute;
    z-index: 2;
}

.female-little {
    position: absolute;
    z-index: 2;
    display: none;
}

.optionBtn {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.BtnYes {
    float: left;
}

.BtnNo {
    float: right;
}

.questionTitle {
    position: absolute;
    z-index: 2;
    color: #fff;
    font-size:3rem;
}

.QuestionBox {
    position: absolute;
    display: none;
}

.QuestionNext {
    position: absolute;
    display: none;
}

.tipBox {
    position: absolute;
    display: none;
    color: #000000;
    font-weight: bold;
    font-size:3rem;
}

.findResult {
    position: absolute;
    display: none;
}

.resultPage {
    background: url(http://yunyunlive.oss-cn-beijing.aliyuncs.com/survey/resultBG.png) no-repeat 50%/cover;
    display: none;
}

.resultTitle {
    position: absolute;
}

.resultName {
    position: absolute;
}

.resultNickName {
    position: absolute;
}

.resultHead {
    position: absolute;
}

.resultDescription {
    width: 70%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    font-size:2rem;

}

.resultPoint {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    z-index:2;
}
.numBg{
    position: absolute;
}

.shareBtn {
    position: absolute;
}

.recognition {
    width: 70%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    font-size: 2rem;
}

.productName {
    color: #7ec960;
}

.prizeWord {
    width: 70%;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    font-size:2rem;
}


.shareArrow {
    position: absolute;
}

.shareGuide {
    background: #000 no-repeat 50%/cover;
    opacity: 0.8;
    display: none;
}

.recognitionCode {
    position: absolute;
}

.rewardPage {
    background: url(http://yunyunlive.oss-cn-beijing.aliyuncs.com/survey/resultBG.png) no-repeat 50%/cover;
    display: none;
    font-size:2.5rem;
}
.rewardIntroduce{
    text-indent:2.5rem;
    line-height: 3rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
.rewardTitle{
    width:100%;
    text-align: center;
}

.rewardPic1 {
    width: 100%;
}

@media only screen and (max-width: 1080px), only screen and (max-device-width: 1080px) {
    html, body {
        font-size: 16.875px;
    }
}

@media only screen and (max-width: 960px), only screen and (max-device-width: 960px) {
    html, body {
        font-size: 15px;
    }
}

@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    html, body {
        font-size: 12.5px;
    }
}

@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
    html, body {
        font-size: 11.25px;
    }
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
    html, body {
        font-size: 10px;
    }
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
    html, body {
        font-size: 9.375px;
    }
}

@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
    html, body {
        font-size: 8.4375px;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    html, body {
        font-size: 7.5px;
    }
}

@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
    html, body {
        font-size: 6.46875px;
    }
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
    html, body {
        font-size: 6.25px;
    }
}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
    html, body {
        font-size: 5.859375px;
    }
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
    html, body {
        font-size: 5.625px;
    }
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
    html, body {
        font-size: 5px;
    }
}

@media only screen and (max-width: 240px), only screen and (max-device-width: 240px) {
    html, body {
        font-size: 3.75px;
    }
}